KUCEDR_CLOUD_PUBLIC_URL=
KUCEDR_CLOUD_ADMIN_TOKEN=
KUCEDR_CLOUD_CONFIG_KEY=
KUCEDR_CLOUD_BIND_ADDRESS=127.0.0.1
KUCEDR_CLOUD_PORT=3000
KUCEDR_CLOUD_APP_URL=http://127.0.0.1:3001
KUCEDR_CLOUD_APP_PORT=3001
